@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Wallpoet&display=swap');

/* app */
.appHead{
background-color: rgb(57, 230, 236);
}

/* home */
.welcome{
  border-bottom: 5px solid black;
}

 /* blogs */

.blogComp {
  text-align: center;
}

.allBlogs {
  margin: 100px;
}

/* .allBlogsTitle {
margin-top: 80px;
}

.allBlogsAuthor {
margin-bottom: 80px;
} */



/* nav */

.navLink {
  margin:20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


/* create new */

.blog{
  border-radius: 1%;
}


/* .create {
  text-align: center;
} */

/* .newBlog{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  gap: 10px solid black;
  width: 80%;
  margin: 50px;
}

#topic {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
}

.title{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
}

.author {
  grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 2;
}


.blog{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 8;
} */

