@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

* {
 background-color: rgb(247, 229, 67);
}


/* app */
.appHead{
background-color: rgb(52, 240, 254);
}

/* home */
.welcome{
  border-bottom: 5px solid black;
}

 /* blogs */

.back {
  background-color: rgb(247, 229, 67);
  margin:20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

 .blogsHeading {
text-align: left;
margin-left: 4ch;
 }

.blogComp {
  text-align: center;
}

.allBlogs {
  margin: 100px;
}

.allBlogsTitle {
  font-family: 'Sofadi One', cursive;
  font-size:7ch;
}

.allBlogsAuthor {
  font-family: 'Poppins', sans-serif;
}

/* single blog */

.singleBlog {
  margin: 3ch;
  margin-left: 10ch;
  margin-right: 10ch;
  width: 60%;
  
}

.singleBlogBody {
  font-size: 2ch;
  line-height: 1.8;
}

.button {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(57, 230, 236);
}


/* nav */

.navLink {
  margin:20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(52, 240, 254);
}


/* create new */


.createTitle {
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

.blog{
  border-radius: 1%;
}

.singleBlogTitle {
  font-family: 'Wallpoet', cursive;
}


/* form */

.newBlog{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  gap: 10px solid black;
  width: 80%;
  margin: 50px;
  font-family: 'KoHo', sans-serif;
  text-align: center;
}

#topic {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
}

.title{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
}

.author {
  grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 2;
}


.blog{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 8;
  font-family: 'Poppins', sans-serif;
}

.submit {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(57, 230, 236);
}

